


  
body{
  background-color:antiquewhite;
  margin: auto;
  width: 50%;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}

  .div{
      padding-top: 100px;
      
  }
h1{
  text-align: center;
}
.date{
  color: grey;
}


